{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <title>主页</title>


{% endblock %}
{% block content %}
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30"><img src="{{ url_for("static",filename="assets/images/icon.svg") }}" width="40"
                                     height="40" alt="Brego"></div>
            <p>Please wait...</p>
        </div>
    </div>

    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>

    <div id="wrapper">


        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h2>添加新闻</h2>
                        </div>
                        <div class="body">
                            <form id="basic-form" method="post" enctype="multipart/form-data" novalidate>
                                <div class="form-group">
                                    <label>新闻标题</label>
                                    {{ form.title }}

                                </div>
                                <div class="form-group">
                                    <label>新闻来源</label>
                                    {{ form.source }}

                                </div>
                                <div class="form-group">
                                    <label>新闻摘要</label>
                                    {{ form.digest }}

                                </div>
                                <div class="form-group">
                                    <label>新闻内容</label>
                                    {{ form.content }}

                                </div>
                                <div class="form-group">
                                    <label>新闻封面</label>
                                    {{ form.index_image }}

                                </div>

                                <div class="form-group">
                                    <label>新闻视频(可选)</label>
                                    {{ form.video }}

                                </div>

                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-12">
                                        <label>新闻分类</label>
                                        <br/>
                                        {% for category in categorys %}
                                            <label class="fancy-radio">
                                                <input type="radio" name="category" value="政治" required
                                                       data-parsley-errors-container="#error-radio">
                                                <span><i></i>{{ category.name }}</span>
                                            </label>

                                        {% endfor %}
                                        <p id="error-radio"></p>
                                    </div>
                                </div>

                                <br>
                                {{ form.csrf_token }}
                                {{ form.submit }}
                            </form>
                        </div>
                    </div>
                </div>


            </div>


            {% block scripts %}
                {{ super() }}


                 
            {% endblock %}

{% endblock %}