{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <title>播放视频</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='dplayer/dist/DPlayer.min.css') }}">

{% endblock %}
{% block content %}

<body class="theme-blush news box_layout">

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img src="{{ url_for("static",filename="assets/images/icon.svg") }}" width="40" height="40" alt="Brego"></div>
        <p>Please wait...</p>
    </div>
</div>




<!-- Overlay For Sidebars -->
<div class="overlay"></div>

<div id="wrapper">



    <div id="main-content">
        <div class="container">
            <div class="block-header">
                <div class="row clearfix">
                    <div class="col-md-6 col-sm-12">
                        <h1>Video</h1>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                 <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2>Site Visitors</h2>
                            <ul class="header-dropdown dropdown">

                                <li><a href="javascript:void(0);" class="full-screen"><i class="icon-frame"></i></a></li>
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another Action</a></li>
                                        <li><a href="javascript:void(0);">Something else</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                        <div id="dplayer1"></div>
{#							<link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" />#}
{##}
{#                            <div id="world-map-markers" class="jvector-map" style="height: 245px"></div>#}
{#							<script src="https://webapi.amap.com/maps?v=1.4.15&key=您申请的key值"></script>#}
{#												<script>#}
{#													var map = new AMap.Map('world-map-markers', {#}
{#														resizeEnable: true, //是否监控地图容器尺寸变化#}
{#														zoom:11, //初始化地图层级#}
{#														center: [116.397428, 39.90923] //初始化地图中心点#}
{#													});#}
{#												</script>#}
                        </div>
                    </div>

        </div>
    </div>

</div>
    <script src="{{ url_for("static",filename="assets/bundles/libscripts.bundle.js") }}"></script>
    <script src="{{ url_for("static",filename="assets/bundles/vendorscripts.bundle.js") }}"></script>
    <script src="{{ url_for("static",filename="assets/bundles/mainscripts.bundle.js") }}"></script>
        <script src="{{ url_for('static',filename='dplayer/plugin/flv.min.js') }}"></script>
    <script src="{{ url_for('static',filename='dplayer/plugin/hls.min.js') }}"></script>
    <script src="{{ url_for('static',filename='dplayer/dist/DPlayer.min.js') }}"></script>
            <script>
        var dp1 = new DPlayer({
            element: document.getElementById('dplayer1'),
            video: {
                url: "{{ url_for('static',filename='uploads/videos/WarriorsCG.mp4') }}",
            },

        });
    </script>
</body>

{% block scripts %}


{% endblock %}

{% endblock %}